# Logs
*.log
npm-debug.log*

# Dependências do Node (backend)
node_modules/

# Dependências do React (frontend)
client/node_modules/

# Pasta de build do React
client/build/

# DS_Store (macOS)
.DS_Store

# Pastas de cache do Yarn/PM
.yarn/
.pnp.*

# Arquivos de cache/ambiente
.env
